<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>서버로 파라미터 제출하기</title>
	</head>
	<body>
		<h1>서버로 파라미터 제출하기</h1>
		
		<h3>1. HttpServletRequest.getParameter("key") 이용</h3>
		<form action="/param/test1" method=Post>
			이름 : <input type="text" name="inputName"><br>
			나이 : <input type="number" name="inputAge"><br>
			주소 : <input type="text" name="inputAddress"><br>
			<button>제출하기</button> <!-- 버튼의 기본 타입은 submit -->
		</form>
		
		<form action="연결주소값2" method=POST>
			책 제목 : <input type="text" name="title"><br>
			작성자 : <input type="text" name="writter"><br>
			가격 : <input type="number" name="price"><br>
			출판사 : <input type="text" name="publisher"><br>
			<button>제출하기</button> <!-- 버튼의 기본 타입은 submit -->
		</form>
		
		
		<h3>2. @RequestParam 어노테이션을 이용해서 낱개로 값 가져오기
			--> ParamTwoController 생성해서 가져오기
		</h3>
		<form action="/param2/test2" method="post">
			과자 제목 : <input type="text" name="snackName"><br>
			회사 : <input type="text" name="snackCompany"><br>
			가격 : <input type="number" name="snackPrice"><br>
			선호 순위 : <input type="text" name="snackLike"><br>
			
			<button>제출하기</button>
		</form>
		
		
		<h3>3. @RequestParam 어노테이션 이용해서 다수 값 가져오기
			--> ParamTwoController 생성해서 작성
			
			좋아하는 과자 String[]
			선호하는 회사 List<String>
		</h3>
		<form action="/param2/likeSnackCompany" method="post">
			좋아하는 과자 :
				맛동산 <input type="checkbox" name="likeSnack" value="Matdongsan">
				베베 <input type="checkbox" name="likeSnack" value="bebe">
				썬칩 <input type="checkbox" name="likeSnack" value="sunChip">
				
			<br><br>
			선호하는 회사 :
				오리온 <input type="checkbox" name="likeCompany" value="orion">
				햇에 <input type="checkbox" name="likeCompany" value="haet">
			
				<button>제출하기</button>
		
		</form>
	</body>
</html>