<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>정적 자원 (js, css, html)</title>
		<link rel="stylesheet" href="/css/ex.css">
	</head>
	<body>
		<!-- link 연결 script 파일 구분지어서 연결 
			사진 3장
			배경 lightpink
			ex.js   juery 이용해서 버튼 클릭하기 만들어주기
		-->
		<h1>정적 자원을 연결하는 곳입니다.</h1>
		<div class="container">
			<img src="/image/말리.jpg">
			<img src="/image/호감.jpg">
			<img src="/image/힐링.jpg">
			
			<button id="버튼">자바스크립트 연결 테스트</button>
			<!-- id 를 이벤트 리스너인 onclick 으로 변경할 때는 뒤에 () 를 붙여줌 -->
			<button onclick="버튼()">자바스크립트 연결 테스트</button>
			<script src="/js/ex.js"></script>
		</div>
		
		
		
	</body>
</html>